src/main/mule/cint-cdep.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e065daad-dbee-4241-a467-4c05a81f9e99" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cint-cdepFlow" doc:id="3f99db3f-f900-4dff-b109-1d42339c7bdf" >
		<http:listener doc:name="Listener" doc:id="df2b95e3-c26f-4cc5-b4ef-ffc48c48c621" config-ref="HTTP_Listener_config" path="/cicd"/>
		<set-payload value='#["Hi CICD"]' doc:name="Set Payload" doc:id="f291e42c-556c-4d07-ba5f-bd943da818f7" />
	</flow>
</mule>
